# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.turbo/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example
.secrets/

# logs
*.log
npm-debug.log*

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# test / coverage
coverage/
